<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.ex1.dao.ScoreDAO">
	<resultMap type="db.ex1.model.vo.ScoreVO" id="ScoreMap">
		<!-- property : ScoreVO의 필드명, column: score 테이블의 속성명 -->
		<id property="sc_num" column="sc_num"/>
		<result property="sc_score" column="sc_score"/>
		<result property="sc_st_key" column="sc_st_key"/>
		<result property="sc_sj_num" column="sc_sj_num"/>
		<association property="subject" javaType="db.ex1.model.vo.SubjectVO">
			<id property="sj_num" column="sj_num"/>
			<result property="sj_grade" column="sj_grade"/>
			<result property="sj_semester" column="sj_semester"/>
			<result property="sj_name" column="sj_name"/>
		</association>
		
	</resultMap>
	<select id="selectScoreList" resultMap="ScoreMap">
		select * from score join subject on sc_sj_num =sj_num;
	</select>
	<select id="selectStdScoreList" resultMap="ScoreMap">
		select * from score join subject on sc_sj_num where sc_st_key = #{st_key};
	</select>
</mapper>