<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.ex1.dao.SubjectDAO">
	<!-- 내가 작성하려는 DML에 맞게 태그를 선택
	select문을 쓴다 => select 태그
		-id는 DAO의 메소드명을 작성
		-메소드 오버로딩이 x
		-select태그의 경우 resultType, resultMap을 지정해야 한다.
			-resultType : xxxVo를 그대로 사용하는 경우
			-resultMap : xxxVo와 검색 결과가 일치하지 않아 변형해야 하는 경우, 서브 쿼리를 실행해야 하는 경우
	-->
	<select id="selectSubjectList" resultType="db.ex1.model.vo.SubjectVO">
		select * from subject
	</select>
</mapper>