<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.CommentDAO">
	
	<insert id="insertComment">
		insert into comment(co_num, co_content, co_me_id, co_ori_num, co_po_num)
		select 
			ifnull(max(co_num),0) + 1, 
			#{comment.co_content}, 
			#{comment.co_me_id},
			<choose>
				<when test="comment.co_ori_num == 0">
					ifnull(max(co_num),0) + 1,	
				</when>
				<otherwise>
					#{comment.co_ori_num},
				</otherwise>
			</choose>
			#{comment.co_po_num}
		from comment
	</insert>
	<select id="selectCommentList" resultType="CommentVO">
		select * from comment 
		where co_po_num = #{cri.search}
		order by co_ori_num desc, co_num
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectComment" resultType="CommentVO">
		select * from comment where co_num = #{co_num}
	</select>
	<update id="deleteComment">
		update comment set co_del = "Y" where co_num = #{co_num}
	</update>
	<select id="selectCountCommentList" resultType="int">
		select count(*) from comment 
		where co_po_num = #{cri.search}
	</select>
	<update id="updateComment">
		update comment set co_content = #{comment.co_content} where co_num = #{comment.co_num}
	</update>
</mapper>
