<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
</head>
<body >
	<main layout:fragment="content" class="container">
		<h1 class="my-3">제품 상세</h1>
		<div class="product-container">
			<div class="product-header d-flex">
				<div class="product-thumb col-6 p-0">
					<img th:src="@{/file/{thumb}(thumb=${product.pr_thumb})}" alt="이미지 없음" width="100%">
				</div>
				<div class="product-info col-6">
					<h1 th:text="${product.pr_title}">제목</h1>
					<h3 class="product-price" th:text="${#numbers.formatInteger(product.pr_price, 3, 'COMMA')} + '원'"></h3>
					<form class="d-flex">
						<button type="button" class="btn btn-outline-success btn-add" data-amount="-1">-</button>
						<input type="text" class="form-control" value="0">
						<button type="button" class="btn btn-outline-success btn-add" th:data-code="${product.pr_code}" data-amount="1">+</button>
					</form>
				</div>				
			</div>
			<div class="product-body my-3 " th:utext="${product.pr_content}">내용</div>
		</div>
		<script>
			$(".btn-add").click(function(){
				var curAmount = $("name=amount").val();
				var amount = $(this).data("amount");
				curAmount = curAmount + parseInt(amount);
				if(curAmount < 0){
					alert("수량은 0이상입니다");
					curAmount=0;
				}
				$("name=amount").val(curAmount);
			})
		</script>
	</main>
</body>
</html>