<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.ex2.dao.StudentDAO">
	<resultMap type="db.ex2.model.vo.Student" id="StudentMap">
		<id property="key" column="st_key"/>
		<result property="grade" column="st_grade"/>
		<result property="classNum" column="st_class"/>
		<result property="num" column="st_num"/>
		<result property="name" column="st_name"/>
		<collection property="list" select="selectScoreList" column="st_key"
			ofType="db.ex2.model.vo.SubjectScore" />
	</resultMap>
	<resultMap type="db.ex2.model.vo.SubjectScore" id="ScoreMap">
		<id property="num" column="sc_num"/>
		<result property="score" column="sc_score"/>
		<result property="key" column="sc_st_key"/>
		
		<association property="subject" javaType="db.ex2.model.vo.Subject">
			<id property="num" column="sj_num"/>
			<result property="grade" column="sj_grade"/>
			<result property="semester" column="sj_semester"/>
			<result property="name" column="sj_name"/>
		</association>
	</resultMap>
	
	<select id="selectScoreList" resultMap="ScoreMap">
		select * from score
		join subject on sc_sj_num = sj_num
		where
			sc_st_key = #{key}
		order by sj_grade, sj_semester, sj_name
	</select>
	<select id="selectStudent" resultMap="StudentMap">
		select * from student
		where st_grade = #{std.grade} and st_class = #{std.classNum} and st_num = #{std.num}
	</select>
	<insert id="insertStudent">
		insert into student(st_grade,st_class,st_num,st_name) value(#{std.grade},#{std.classNum},#{std.num},#{std.name})
	</insert>
	<update id="updateStudent">
		update student
		set st_grade = #{new.grade}, st_class=#{new.classNum}, st_num = #{new.num}, st_name=#{new.name}
		where st_grade = #{old.grade} and st_class=#{old.classNum} and st_num = #{old.num}
	</update>
	<delete id="deleteStudent">
		delete from student where  st_grade = #{std.grade} and st_class=#{std.classNum} and st_num = #{std.num}
	</delete>
</mapper>