<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<header th:fragment="header" id="header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
			<div class="d-flex">
				<!-- Brand/logo -->
				<a class="navbar-brand p-0" href="#">
					<!--  -->
					<img src="/img/bird.jpg" alt="logo" style="width:40px;">
				</a>
				
				<!-- Links -->
				<ul class="navbar-nav" th:if="${list != null}">
					<li class="nav-item" th:each="category : ${list}">
						<a class="nav-link" th:href="@{/product/list/{num}(num=${category.ca_num})}" th:text="${category.ca_name}">Link 1</a>
					</li>
				</ul>
			</div>
			<div>
				<ul class="navbar-nav">
					<th:block sec:authorize="isAnonymous()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}">로그인</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/signup}">회원가입</a>
						</li>
					</th:block>
					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item" sec:authorize="hasAuthority('USER')">
							<a class="nav-link" th:href="@{/mypage}" th:text="${#authentication.principal.user.me_id}+'님 페이지'">마이 페이지</a>
						</li>
						<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
							<a class="nav-link" th:href="@{/admin/page}">관리자 페이지</a>
						</li>
						<li class="nav-item">
							<form th:action="@{/logoutPost}" method="post">
								<button class="nav-link btn">로그아웃</button>
							</form>
						</li>
					</th:block>
				</ul>
			</div>
		</nav>
		
	</header>
</body>
</html>
