<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/admin_layout.html}">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
</head>
<body >
	<main layout:fragment="content" class="container">
		<h1>카테고리 관리</h1>
		<form class="input-group mt-3 update-form" th:each="category : ${list}">
			<input type="hidden" name="ca_num" th:value="${category.ca_num}">
			<input type="text" name="ca_name" class="form-control col-4" placeholder="카테고리명" th:value="${category.ca_name}">
			<input type="text" name="ca_code" class="form-control col-4" readonly th:value="${category.ca_code}">
			<button class="btn btn-warning form-control col-2" type="submit">수정</button>
			<button class="btn btn-danger form-control col-2 btn-del" type="button" th:data-num="${category.ca_num}">삭제</button>
		</form>
		<form class="input-group mt-5" id="insertForm">
			<input type="text" name="ca_name" class="form-control col-4" placeholder="카테고리명">
			<input type="text" name="ca_code" class="form-control col-4" placeholder="카테고리코드">
			<button class="btn btn-success form-control col-4">등록</button>
		</form>
		<script>
			//카테고리 등록
			$("#insertForm").submit(function(e){
				e.preventDefault();
				let $this = $(this);
				$.ajax({
					async : true,
					url : "/admin/category/insert",
					method : "get",
					data : $this.serialize(),
					success : function(data){
						alert(data);
						location.reload();
					}
				})
			})
			//카테고리 수정
			$(".update-form").submit(function(e){
				e.preventDefault();
				let $this = $(this);
				$.ajax({
					async : true,
					url : "/admin/category/update",
					method : "get",
					data : $this.serialize(),
					success : function(data){
						alert(data);
						//location.reload();
					}
				})
			})
			//카테고리 삭제
			$(".btn-del").click(function(e){
				e.preventDefault();
				let $this = $(this);
				$.ajax({
					async : true,
					url : "/admin/category/delete",
					method : "get",
					data : {num : $this.data("num")},
					success : function(data){
						alert(data);
						location.reload();
					}
				})
			})
		</script>
	</main>
</body>
</html>