<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/admin_layout.html}">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
</head>
<body >
	<main layout:fragment="content" class="container">
		<h1 class="my-3">제품 관리</h1>
		<div class="mb-3 d-flex justify-content-end">
			<a th:href="@{/admin/product/insert/0}" class="btn btn-success">제품 등록</a>
		</div>
		<div class="my-3 d-flex flex-wrap">
			<a th:href="@{/admin/product/0}" 
				class="btn mr-1"
				th:classappend="${0 == ca_num? 'btn-success' : 'btn-outline-success'}">전체</a>
			<a 
				th:href="@{/admin/product/{num}(num=${category.ca_num})}" 
				class="btn mr-1" 
				th:each="category : ${categoryList}"
				th:text="${category.ca_name}"
				th:classappend="${category.ca_num == ca_num? 'btn-success' : 'btn-outline-success'}"></a>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>코드</th>
					<th>분류</th>
					<th>썸네일</th>
					<th>제품명</th>
					<th>가격</th>
					<th>수량</th>
					<th>기능</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productList}">
					<td th:text="${product.pr_code}"></td>
					<td th:text="${product.pr_ca_num}"></td>
					<td>
						<img th:src="'/file/'+${product.pr_thumb}" alt="이미지 없음" height="50" width="50">
					</td>
					<td th:text="${product.pr_title}"></td>
					<td th:text="${product.pr_price}"></td>
					<td th:text="${product.pr_amount}"></td>
					<td class="clearfix">
						<a th:href="@{/admin/product/update/{ca_num}/{pr_code}(ca_num=${ca_num},pr_code=${product.pr_code})}" class="btn btn-warning float-left">수정</a>
						<form th:action="@{/admin/product/delete/{ca_num}/{pr_code}(ca_num=${ca_num},pr_code=${product.pr_code})}" 
							method="post" class="float-left ml-2">
							<button class="btn btn-danger">삭제</button>
						</form>
						<button class="float-left btn btn-dark ml-2 btn-add" th:data-code="${product.pr_code}">입고</button>
					</td>
				</tr>
				<tr th:if="${productList.size() == 0}">
					<td colspan="7" class="text-center">등록된 제품이 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<script>
			$(".btn-add").click(function(){

				var	amount = parseInt(prompt("입고 수량을 입력하세요."));

				if(isNaN(amount)){
					alert("숫자만 입력하세요.");
					return;
				}
				var code = $(this).data("code");
				if(amount < 0){
					alert("입고 수량은 0이상이어야 합니다.")
					return;
				}
				console.log({
						pr_code : code,
						pr_amount : amount
					})
				$.ajax({
					async : true,
					url : "/admin/product/amount",
					method : "post",
					data : JSON.stringify({
						pr_code : code,
						pr_amount : amount
					}),
					contentType : "application/json; charset=utf-8",
					success : function(data){
						if(data){
							alert("입고했습니다.");
							location.reload();
						}
						else{
							alert("입고에 실패했습니다.");
						}
					}
				})
			})
		</script>
	</main>
</body>
</html>