<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/admin_layout.html}">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-bs4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
<style>
	.error{color: red;}
</style>
</head>
<body >
	<main layout:fragment="content" class="container mb-5">
		<h1 class="my-3">제품 수정</h1>
		<form method="post" enctype="multipart/form-data" id="insertForm" 
			th:action="@{/admin/product/update/{ca_num}(ca_num=${ca_num})}"  
			th:if="${product != null}"
			th:object="${product}">
			<input type="hidden" th:field="*{pr_code}">
			<div class="form-group">
				<label for="category">카테고리</label>
				<input readonly class="form-control mb-2" th:field="*{pr_ca_num}">
			</div>
			<div class="form-group">
				<label for="pr_title">제품명</label>
				<input type="text" class="form-control mb-2" th:field="*{pr_title}">
			</div>
			<div class="form-group">
				<label for="pr_amount">수량</label>
				<input type="text" class="form-control mb-2" th:field="*{pr_amount}">
			</div>
			<div class="form-group">
				<label for="pr_price">가격</label>
				<input type="text" class="form-control mb-2" th:field="*{pr_price}">
			</div>
			<div class="form-group">
				<label for="thumb">썸네일</label>
				<input type="file" name="thumb" id="thumb" class="form-control mb-2">
			</div>
			<div class="form-group">
				<label for="pr_content">제품 상세</label>
				<textarea class="form-control" th:field="*{pr_content}"></textarea>
			</div>
			<label id="pr_content-error" class="error" for="pr_content"></label>
			<button class="btn btn-success col-12">제품 수정</button>
		</form>
		
		
		<script>
		
      $('#pr_content').summernote({
        placeholder: '제품 상세 설명을 입력하세요.',
        tabsize: 2,
        height: 400
      });
			
			$("#insertForm").validate({
				ignore : "",//안보이는 요소도 체크 함
				rules : {
					pr_title : {
						required : true
					},
					pr_ca_num : {
						nzero : true
					},
					pr_amount : {
						digits : true
					},
					pr_price : {
						digits : true,
						nzero : true
					},
					pr_content : {
						summernoteCheck : true
					}
				},
				messages : {
					pr_title : {
						required : "필수 항목입니다."
					},
					pr_ca_num : {
						nzero : "카테고리를 선택하세요."
					},
					pr_amount : {
						digits : "수량은 숫자만 입력하세요."
					},
					pr_price : {
						digits : "가격은 숫자만 입력하세요.",
						nzero : "가격은 0보다 커야 합니다."
					},
					pr_content : {
						summernoteCheck : "제품 설명을 입력하세요."
					}
				}
			});
			
			$.validator.addMethod("summernoteCheck", function(value, element){
				return summernoteEmpty();
			}, "내용을 입력하세요.");

			$.validator.addMethod("nzero", function(value, element){
				return this.optional(element) || $(element).val() != 0;
			}, "값에 0이 올 수 없습니다.");

			function summernoteEmpty(){
				var content = $('#pr_content').summernote('code');
				var $content = $(content);
				//써머노트를 이용하여 작성한 경우 tag가 포함되어 있음. tag를 제외한 순수한 텍스트를 가져옴
				var tagContent = $content.text().trim();
				//써머노트를 이용하지 않은 경우 tag가 포함되어 있지 않음. 순수한 텍스트를 가져옴. 처음부터 써머노트를 이용하면 필요없는 작업
				var nonTagContent = $content.length == 0 ? content.trim() : '';
				return   tagContent !== '' || nonTagContent !== '';
			}
			
    </script>
	</main>
</body>
</html>