<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/admin_layout.html}">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
</head>
<body >
	<main layout:fragment="content" class="container">
		<h1 class="my-3">제품 관리</h1>
		<div class="mb-3 d-flex justify-content-end">
			<a th:href="@{/admin/product/insert/0}" class="btn btn-success">제품 등록</a>
		</div>
		<div class="my-3 d-flex flex-wrap">
			<a th:href="@{/admin/product/0}" 
				class="btn mr-1"
				th:classappend="${0 == ca_num? 'btn-success' : 'btn-outline-success'}">전체</a>
			<a 
				th:href="@{/admin/product/{num}(num=${category.ca_num})}" 
				class="btn mr-1" 
				th:each="category : ${categoryList}"
				th:text="${category.ca_name}"
				th:classappend="${category.ca_num == ca_num? 'btn-success' : 'btn-outline-success'}"></a>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>코드</th>
					<th>분류</th>
					<th>썸네일</th>
					<th>제품명</th>
					<th>가격</th>
					<th>수량</th>
					<th>기능</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productList}">
					<td th:text="${product.pr_code}"></td>
					<td th:text="${product.pr_ca_num}"></td>
					<td>
						<img th:src="'/file/'+${product.pr_thumb}" alt="이미지 없음" height="50" width="50">
					</td>
					<td th:text="${product.pr_title}"></td>
					<td th:text="${product.pr_price}"></td>
					<td th:text="${product.pr_amount}"></td>
					<td class="clearfix">
						<a href="" class="btn btn-warning float-left">수정</a>
						<form th:action="@{/admin/product/delete/{num}(num=${product.pr_code})}" method="post" class="float-right">
							<button class="btn btn-danger" type="submit">삭제</button>
						</form>						
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>