<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>메인</h1>
		<div>
			안녕하세요. 제 이름은 <span th:text="${name}"></span>입니다.
		</div>
		<a th:href="@{/test}" >테스트 링크</a>
	</main>
</body>
</html>