<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>테스트</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- <div th:replace="fragments/common :: header"></div> -->
		<h1>테스트</h1>
		<!-- href -->
		<a th:href="@{/test/{num}(num=${num})}">랜덤 수 : <span th:text="${num}">기본값</span></a>
		<!-- if, unless -->
		<div th:if="${num >= 5}">5이상입니다.</div>
		<div th:unless="${num >= 5}">5미만입니다.</div>
		<!-- swtich case -->
		<div th:switch="${role}">
			<div th:case="'ADMIN'">관리자입니다.</div>
			<div th:case="'USER'">회원입니다.</div>
			<div th:case="*">게스트입니다.</div>
		</div>
		<!-- each -->
		<ul>
			<li th:each="item, stat : ${items}">
				<span th:text="${stat.count}"></span>-
				<span th:text="${item}"></span>
			</li>
		</ul>
		<ul>
			<li th:each="num : ${#numbers.sequence(1,5)}" th:text="${num}"></li>
		</ul>
		<hr>
		<!-- value, attr -->
		<input type="text" name="num" placeholder="정수를 입력하세요." th:value="${num}">
		<input type="text" name="num" th:attr="placeholder='정수를 입력하세요.', value=${num} ">

		<hr>
		<form>
			<input th:value="${user.me_id}" name="me_id"/> <br>
			<input th:value="${user.me_pw}" name="me_pw"/> <br>
			<input th:value="${user.me_authority}" name="me_authority"/> <br>
			<button>전송</button>
		</form>
		<!-- object -->
		<!--/* object 주석 */-->
		<form th:object="${user}">
			<input th:field="*{me_id}"/> <br>
			<input th:field="*{me_pw}"/> <br>
			<input th:field="*{me_authority}"/> <br>
			<button>전송</button>
		</form>
		<!-- #dates 객체 -->
		<div th:text="${#dates.format(user.date, 'yyyy-MM-dd')}"></div>
		<!-- <div th:replace="fragments/common :: footer"></div> -->
	</div>
</body>
</html>