<!DOCTYPE html >
<html 
	lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부트</title>
</head>
<body>
	<div class="comment-list form-group">
		<div class="comment-item mb-3"  th:each="comment : ${list}" th:classappend="${comment.co_num != comment.co_ori_num ? 'ml-5' : ''}">
			<div class="form-control" style="height: auto;"  th:if="${comment.co_del == 'N'}">
				<div th:text="${comment.co_me_id}">아이디</div>
				<div th:text="${comment.co_content}">내용</div>
				<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.member.me_id == comment.co_me_id}">
					<button class="btn btn-outline-danger" th:onclick="|deleteComment(${comment.co_num})|">삭제</button>
				</div>
			</div>
			<div class="form-control" th:unless="${comment.co_del == 'N'}">삭제된 댓글입니다.</div>
		</div>
	</div>
	<div class="comment-pagination" th:if="${pm.totalCount != 0}">
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a class="page-link" href="javascipt:void(0);" th:onclick="displayComments(1)">처음</a>
			</li>
			<li class="page-item" th:if="${pm.prev}">
				<a class="page-link" href="javascipt:void(0);" th:onclick="|displayComments(${pm.startPage - 1})|">이전</a>
			</li>
			<li class="page-item" th:each="i : ${#numbers.sequence(pm.startPage, pm.endPage)}" th:classappend="${pm.cri.page == i ? 'active' : ''}" >
				<a class="page-link" href="javascipt:void(0);" th:text="${i}" th:onclick="|displayComments(${i})|">1</a>
			</li>
			<li class="page-item" th:if="${pm.next}">
				<a class="page-link" href="javascipt:void(0);" th:onclick="|displayComments(${pm.endPage+1})|">다음</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="javascipt:void(0);" th:onclick="|displayComments(${pm.finalPage})|">끝</a>
			</li>
		</ul>
	</div>
</body>
</html>